<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>All World Trade - Pricing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta content="All World Trade - Pricing" name="description" />
        <meta name="version" content="1.4.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="assets/images/favicon.ico" /> -->
        <link rel="icon" type="image/png" sizes="32x32" href="uploads/favicon_io/favicon.ico" />

        <!-- Css -->
        <link href="<%= process.env.AWT_HOSTNAME %>assets2/libs/tiny-slider/tiny-slider.css" rel="stylesheet">

        <!-- Main Css -->
        <link href="<%= process.env.AWT_HOSTNAME %>assets2/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
        <!-- <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets2/css/icons.min.css" /> -->

        <!-- <link href="uploads/placeholder/logo-placeholder2.jpg" rel="icon" type="image/png" /> -->
        

        <meta name="description" content="All World Trade - Pricing" />

        <!-- <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/icons.css" /> -->
        <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-min/icons.min.css" />

        <!-- <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/uikit.css" /> -->
        <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-min/uikit.min.css" />

        <!-- <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/style.css" /> -->
        <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-min/style.min.css" />

        <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/custom.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-tailwind/custom.css" /> -->

        <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.css"
            rel="stylesheet" />
        <script src="<%= process.env.AWT_HOSTNAME %>assets/js/global.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

        <!-- Css -->
        <link href="<%= process.env.AWT_HOSTNAME %>assets2/libs/tobii/css/tobii.min.css" rel="stylesheet">
    
        <!-- Main Css -->


    </head>
    
    <body class="text-base text-black font-nunito dark:text-white dark:bg-slate-900">

        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->
        
        <!-- Start Navbar -->
 
        
        <header>
            <style >
                .navLogo {
                    height: 60px; 
                    margin-bottom: 0px;
                }
            
                .nav-span {
                    font-size: 24px; 
                    font-family: inherit;
                }

                .custom-text-black {
                    color: black !important;
                }
            </style>
        </header>
        <!--end header-->
             <!-- Navbar goes here -->
            <%- include('../includes/nav/primary-navigation.ejs') %>
        <!-- End Navbar -->

         <!-- Start Hero -->
         <section class="relative table w-full py-36 lg:py-44 bg-[url('../../assets2/images/services.jpg')] bg-no-repeat bg-center">
            <!-- <div class="absolute inset-0 bg-black opacity-75"></div> -->
            <div class="absolute inset-0"></div>
            <div class="container">
                <div class="grid grid-cols-1 pb-8 mt-10 text-center">
                    <!-- <h5 class="text-lg font-medium text-white opacity-100">Our Comfortable Rates</h5>
                    <h3 class="mt-2 text-3xl font-medium leading-normal text-white md:text-4xl md:leading-normal">Pricing / Plans</h3> -->
                    <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal "> Pricing </h3>
                </div><!--end grid-->
            </div><!--end container-->
            
        </section><!--end section-->
        <div class="relative">
            <div class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-gray-50 dark:text-slate-800">
                <svg class="w-full h-auto" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Hero -->

        <!-- Start -->
        <section class="relative py-16 md:py-24 bg-gray-50">
            <div class="container">
           

                <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 items-center mt-10 gap-[30px]">
                    <div class="lg:col-span-5">
                        <img src="uploads/landing/map.jpg" alt="">
                    </div>
                    <div class="mt-8 lg:col-span-7 md:mt-0">
                        <div class="lg:ml-10">
                            <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Joining the Trade Show as a VISITOR is FREE OF CHARGE</h3>
                            <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Joining the Trade Show as a TRADER is charged on a PER TRADE SHOW BASIS</h3>
                            <!-- <p class="max-w-xl text-slate-400">Joining the Trade Show as a TRADER is charged on a PER TRADE SHOW BASIS</p> -->

                            <ul class="mt-4 list-none text-slate-400">
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Every Trade Show is charged at a rate of PhP 2,500 per account.</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Each Trade Show runs for 2 to 4 days depending on its Major Category and Calendar.</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> You may join any Trade Show with more than one trader account simultaneously if you have
                                    more than one marketing personnel.</li>
                            </ul>

                            <!-- <div class="mt-4">
                                <a href="page-aboutus.html" class="text-indigo-600 duration-500 ease-in-out btn btn-link hover:text-indigo-600 after:bg-indigo-600">Find Out More <i class="align-middle uil uil-angle-right-b"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

        </section><!--end section-->
        <!-- End -->

        <!-- Start -->
        <section class="relative py-16 md:py-24 bg-gray-50">
            <div class="container">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">How to join a Trade Show as a Visitor (FREE OF CHARGE)</h3>

                    <!-- <p class="max-w-xl mx-auto text-slate-400">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p> -->
                </div>
                <!--end grid-->

                <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 items-center mt-10 gap-[30px]">
                    <div class="lg:col-span-5">
                        <img src="uploads/landing/map.jpg" alt="">
                    </div>
                    <div class="mt-8 lg:col-span-7 md:mt-0">
                        <div class="lg:ml-10">
                            <!-- <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Joining the Trade Show as a</h3>
                            <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">VISITOR is FREE OF CHARGE</h3>
                            <p class="max-w-xl text-slate-400">Joining the Trade Show as a TRADER is charged on a PER TRADE SHOW BASIS</p> -->

                            <ul class="mt-4 list-none text-slate-400">
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Register as a visitor / member .</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> You may choose to register as:</li>
                                <ul class="pl-8 mt-2 mb-2 space-y-1 list-disc list-inside">
                                    <li>Member looking for Small or Micro Scale Company</li>
                                    <li>Member looking for Medium Scale Company</li>
                                    <li>Member looking for Large Scale or High Technology Company</li>
                                    <li>Trader Member (Trader who wants to visit other Traders; If you decide to be a trader,</li>
                                    <p class="indent-6">please go to How to Join a Trade Show as a Trader)</p> 
                                </ul>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Login using registered account name and password</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Go to Selection Page</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Setup desired search filter</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Click on the image representing the target company you want to talk with.</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Attend Video Chat</li>
                            </ul>

                            <!-- <div class="mt-4">
                                <a href="page-aboutus.html" class="text-indigo-600 duration-500 ease-in-out btn btn-link hover:text-indigo-600 after:bg-indigo-600">Find Out More <i class="align-middle uil uil-angle-right-b"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

        </section><!--end section-->
        <!-- End -->

        <!-- Start -->
        <section class="relative py-16 md:py-24 bg-gray-50">
            <div class="container">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">How to Join a Trade show as a Trader (CHARGED ON PER TRADE SHOW BASIS)</h3>

                    <!-- <p class="max-w-xl mx-auto text-slate-400">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p> -->
                </div>
                <!--end grid-->

                <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 items-center mt-10 gap-[30px]">
                    
                    <div class="mt-8 lg:col-span-7 md:mt-0">
                        <div class="lg:ml-10">
                            <!-- <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Lorem Ipsum</h3>
                            <p class="max-w-xl text-slate-400">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p> -->

                            <ul class="mt-4 list-none text-slate-400">
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Register or Upgrade as a Trader Member (You may use this Trader account to visit other
                                    Traders at Selection Page)</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Go to your Trader Profile by clicking your profile icon at upper right side of AWT Homepage</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Click "SEND PAYMENT DETAILS EMAIL" at your Trader Profile to receive email containing
                                    payment information (Please check your SPAM folder just to make sure)</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Make payment and additional payments for additional accounts as necessary.</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Please send back screen shot of "PROOF OF PAYMENT" using the same email, together with
                                    some essential information:</li>
                                    <ul class="pl-8 mt-2 mb-2 space-y-1 list-disc list-inside">
                                        <li>Account Name ( Exactly the same as shown in profile ):</li>
                                        <li>Major Category:</li>
                                        <li>Subcategory:</li>
                                        <li>Minor Subcategory (optional):</li>
                                        <li>Trade Show Date:</li>
                                        <!-- ... -->
                                    </ul>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> If payment is received after the cut-off time (one month before Trade Show) it will be automatically considered as payment for joining the Trade Show for the succeeding month.</li>
                                <li class="flex mb-1 orbitron"><i class="mr-2 text-xl text-indigo-600 uil uil-check-circle"></i> Expect a confirmation email showing the status of Joining of Trade Show.</li>
                            </ul>

                            <!-- <div class="mt-4">
                                <a href="page-aboutus.html" class="text-indigo-600 duration-500 ease-in-out btn btn-link hover:text-indigo-600 after:bg-indigo-600">Find Out More <i class="align-middle uil uil-angle-right-b"></i></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="lg:col-span-5">
                        <img src="uploads/landing/map.jpg" alt="">
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

<hr>

        <%- include('../modal/email-if-help-and-suggest-link-not-available.ejs') %>
        <!-- Footer Start -->
        <%- include('../includes/footer/index.ejs') %>
        <!-- Footer End -->

        <!-- Back to top -->
        <!-- <a href="#" onclick="topFunction()" id="back-to-top" class="fixed z-10 hidden text-lg leading-9 text-center text-white bg-indigo-600 rounded-full back-to-top bottom-5 right-5 h-9 w-9"><i class="uil uil-arrow-up"></i></a> -->
        <!-- Back to top -->

        <!-- Switcher -->
        <!-- <div class="fixed top-1/4 -right-1 z-3">
            <span class="relative inline-block rotate-90">
                <input type="checkbox" class="absolute opacity-0 checkbox" id="chk" />
                <label class="flex items-center justify-between h-8 p-1 rounded-full shadow cursor-pointer label bg-slate-900 dark:bg-white dark:shadow-gray-800 w-14" for="chk">
                    <i class="uil uil-moon text-[20px] text-yellow-500"></i>
                    <i class="uil uil-sun text-[20px] text-yellow-500"></i>
                    <span class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] w-7 h-7"></span>
                </label>
            </span>
        </div> -->
        <!-- Switcher -->

        <!-- JAVASCRIPTS -->
        <script src="<%= process.env.AWT_HOSTNAME %>assets2/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="<%= process.env.AWT_HOSTNAME %>assets2/libs/feather-icons/feather.min.js"></script>
        <script src="<%= process.env.AWT_HOSTNAME %>assets2/js/plugins.init.js"></script>
        <script src="<%= process.env.AWT_HOSTNAME %>assets2/js/app.js"></script>
        <!-- JAVASCRIPTS -->
        <script src="<%= process.env.AWT_HOSTNAME %>assets2/libs/jarallax/jarallax.min.js"></script>
        <script src="<%= process.env.AWT_HOSTNAME %>assets2/libs/tobii/js/tobii.min.js"></script>



        <!-- <script src="<%= process.env.AWT_HOSTNAME %>assets/js/toggle-dark-light.js"></script> -->
        <script  src="<%= process.env.AWT_HOSTNAME %>assets/js-min/toggle-dark-light.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- <script src="assets/js/upgrade-plan.js"></script> -->

        <!-- <script src="<%= process.env.AWT_HOSTNAME %>assets/js/uikit.js"></script> -->
        <script  src="<%= process.env.AWT_HOSTNAME %>assets/js-min/uikit.min.js"></script>

        <!-- <script src="<%= process.env.AWT_HOSTNAME %>assets/js/simplebar.js"></script> -->
        <script  src="<%= process.env.AWT_HOSTNAME %>assets/js-min/simplebar.min.js"></script>

        <!-- <script src="<%= process.env.AWT_HOSTNAME %>assets/js/custom.js"></script> -->
        <script  src="<%= process.env.AWT_HOSTNAME %>assets/js-min/custom.min.js"></script>

        <!-- <script src="<%= process.env.AWT_HOSTNAME %>assets/js/bootstrap-select.min.js"></script> -->
        <script  src="<%= process.env.AWT_HOSTNAME %>assets/js-min/bootstrap-select.min.js"></script>

        <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

        <!-- <script src="<%= process.env.AWT_HOSTNAME %>assets/js/help-and-support.js"></script> -->
        <script  src="<%= process.env.AWT_HOSTNAME %>assets/js-min/help-and-support.min.js"></script>
    </body>
</html>