<%- include('../includes/head/index.ejs') %>
<script>
    const ip = window.location.host;
    const url = 'https://get.geojs.io/v1/ip/geo.json';
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const location = `${data.city}, ${data.region}, ${data.country}`;
            console.log(`IP address: ${ip}`);
            console.log(`Location: ${location}`);
        });
</script>
<!-- <script>
    const ip = window.location.host;
    const url = 'https://freegeoip.app/json/';
    fetch(url)
      .then(response => response.json())
      .then(data => {
        const location = `${data.city}, ${data.region_name}, ${data.country_name}`;
        console.log(`IP address: ${ip}`);
        console.log(`Location: ${location}`);
      });
    </script> -->
<style>
    .ml-15px {
    margin-left: 15px;
    }
    .ml-15px-color-yellow {
    margin-left: 15px;
    color: yellow;
    }
</style>
<body>
    <!-- Navbar goes here -->
    <%- include('../includes/nav/primary-navigation.ejs') %>
    <div id="wrapper" class="mt-10 is-collapse is-active">
        <!-- === HEADER - START === -->
        <!-- === HEADER - END === -->
        <div class="main_content_custom">
            <!-- === HERO IMAGE - START === -->
            <div class="homepage-background">
                <img src="../../uploads/landing/all-world-trade-home-page.webp" alt="Home Page Image | All World Trade" class="responsive">
            </div>
            <!-- === HERO IMAGE - END === -->
            <!-- === TRADERS COUNT - START === -->
            <div style="display: none">
                <div class="mcontainer-custom-4" style="display: block">
                    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
                        <div class="flex p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800"
                            role="alert">
                            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div style="display: block">
                                <span class="font-medium" id="numberOfTraderMembers">Number of Trader Members:
                                </span>
                            </div>
                        </div>
                        <div class="flex p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800"
                            role="alert">
                            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div style="display: block">
                                <span class="font-medium" id="numberOfVisitorMembers">Numbers of Visitor
                                Members: </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === TRADERS COUNT - END === -->
            <!-- === EVENTS - START === -->
            <section class="mb-20" id="">
                <div class="">
                    <h2
                        class="mt-20 mb-20 text-3xl font-extrabold leading-tight tracking-tight text-center text-gray-900 lg:mb-16 dark:text-white md:text-4xl orbitron">
                        Monthly Marketing Show Floor Plan
                    </h2>
                </div>
                <div class="mcontainer-custom-4">
									<div class="relative flex justify-between mb-3 md:mb-4">
										<div class="flex-1">
												<h2 class="text-2xl font-semibold">Signage</h2>
												<nav class="my-4 border-b"></nav>
										</div>
								</div>
                    <!-- SIGNAGE -->
                    <div class="grid grid-cols-2 gap-4 mb-4 md:grid-cols-2 lg:grid-cols-4" id="signageCardContainer">
                    </div>
                </div>
            </section>
            <!-- === EVENTS - END === -->
            <!-- === TRADERS VIDEO - START === -->
            <div class="bg-white main_content_custom-4 dark:bg-gray-900" id="tradersVideos">
                <div class=" mcontainer-custom-4">
                    <div class="relative flex justify-between mb-3 md:mb-4">
                        <div class="flex-1">
                            <h2 class="text-2xl font-semibold">Traders Videoss</h2>
                            <nav class="my-4 border-b"></nav>
                        </div>
                    </div>
                    <!-- === TRADERS VIDEO SLIDES - START === -->
                    <div class="relative" uk-slider="finite: true">
                        <div class="px-1 py-3 uk-slider-container">
                            <ul class="
                                uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid
                                mr-2
                                ">
                                <li class="mb-10">
                                    <a href="https://www.youtube.com/watch?v=hwy7K7FJnZ4"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28"
                                        target="_blank">
                                    <img src="uploads/traders-videos-thumbnail/matrix-creation-events-venue.webp"
                                        alt="Matrix Creation Events Venue Traders Video | All World Trade" class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    12:21</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="Matrix Creation Events Venue Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.youtube.com/watch?v=hwy7K7FJnZ4"
                                            class="font-semibold line-clamp-2" target="_blank">
                                        Matrix Creation Events Venue
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.youtube.com/watch?v=hwy7K7FJnZ4"
                                                class="text-sm" target="_blank"> Multiple Virtual Reality
                                            Scenery on 3 Story High Video Wall at Matrix Creation Events
                                            Venue </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <a href="https://www.youtube.com/watch?v=ICvW1755Puc" target="_blank"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/traders-videos-thumbnail/team-one-vision.jpg" alt="Team One Vision Traders Video | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    02:00</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="Team One Vision Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.youtube.com/watch?v=ICvW1755Puc" target="_blank"
                                            class="font-semibold line-clamp-2">
                                        Team One Vision
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.youtube.com/watch?v=ICvW1755Puc"
                                                target="_blank" class="text-sm font-medium">
                                            Pru Life UK continues to make it their priority to help
                                            Filipinos achieve financial stability. </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <a href="https://www.youtube.com/watch?v=BRHRAgIeUlE" target="_blank"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/traders-videos-thumbnail/scent-4.webp" alt="Scent Traders Video | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    01:22</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="Scent Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.youtube.com/watch?v=BRHRAgIeUlE" target="_blank"
                                            class="font-semibold line-clamp-2">
                                        The Scent Connection CEO
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.youtube.com/watch?v=BRHRAgIeUlE"
                                                target="_blank" class="text-sm font-medium">
                                            Meet the Scent Connection CEO from the 3rd generation of
                                            perfumery business tycoons
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <a href="https://www.facebook.com/watch/?v=573257374604592" target="_blank"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/traders-videos-thumbnail/mgi-ionspec-medical-eye-wear.webp"
                                        alt="MGI Ionspec Medical Eye Wear Traders Video | All World Trade" class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    06:38</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="MGI Ionspec Medical Eye Wear Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.facebook.com/watch/?v=573257374604592"
                                            target="_blank" class="font-semibold line-clamp-2">
                                        Ionspec MEDICAL EYEWEAR Testimony
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.facebook.com/watch/?v=573257374604592"
                                                target="_blank" class="text-sm font-medium">
                                            GLAUCOMA PATIENT 99 % NO VISION, sa Ionspec NAKA-ANINAG ULET
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <a href="https://www.facebook.com/mgiproductsphilippines/videos/763856057547376/"
                                        target="_blank"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/traders-videos-thumbnail/mgi-ionspec-medical-eye-wear.webp"
                                        alt="MGI Ionspec Medical Eye Wear Traders Video | All World Trade" class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    11:55</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="MGI Ionspec Medical Eye Wear Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.facebook.com/mgiproductsphilippines/videos/763856057547376/"
                                            target="_blank" class="font-semibold line-clamp-2">
                                        How MGI Medical Eyewear Helps our Eyes!
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.facebook.com/mgiproductsphilippines/videos/763856057547376/"
                                                target="_blank" class="text-sm font-medium">
                                            Our MGI Eyewear simple explanation of how it can help our eyes!
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <a href="https://www.facebook.com/watch/?v=680867256774296&ref=sharing&_rdc=1&_rdr"
                                        target="_blank"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/traders-videos-thumbnail/mystic-skin.jpg" alt="Mystic Skin Traders Video | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    0:51</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="Mystic Skin Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.facebook.com/watch/?v=680867256774296&ref=sharing&_rdc=1&_rdr"
                                            target="_blank" class="font-semibold line-clamp-2">
                                        Mystic Skin
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.facebook.com/watch/?v=680867256774296&ref=sharing&_rdc=1&_rdr"
                                                target="_blank" class="text-sm font-medium">
                                            Sesh
                                            #tattoo
                                            #CarcarCitytattoo #cebuphilippines #mysticskintattoo
                                            #sgoonstattoosupply #southsidecommunity
                                            📱0 9 5 6 1 2 9 6 5 0 0
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <a href="https://www.facebook.com/watch/?v=1963204720660328&ref=sharing&_rdc=1&_rdr"
                                        target="_blank"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/traders-videos-thumbnail/ding_adeth_shop.webp" alt="Ding Adeth Traders Video | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    0:53</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="Ding Adeth Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.facebook.com/watch/?v=1963204720660328&ref=sharing&_rdc=1&_rdr"
                                            target="_blank" class="font-semibold line-clamp-2">
                                        Ding-Adeth KALAW Pili Pastries
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.facebook.com/watch/?v=1963204720660328&ref=sharing&_rdc=1&_rdr"
                                                target="_blank" class="text-sm font-medium">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <a href="https://www.facebook.com/100080231707449/videos/1316147259241076/"
                                        target="_blank"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/traders-videos-thumbnail/pomeranian.jpg" alt="Pomeranian Traders Video | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    <span class="
                                        absolute
                                        bg-black bg-opacity-60
                                        bottom-1
                                        font-semibold
                                        px-1.5
                                        py-0.5
                                        right-1
                                        rounded
                                        text-white text-xs
                                        ">
                                    2:22</span>
                                    <img src="assets/images/icon-play.svg"
                                        class="w-12 h-12 uk-position-center" alt="Pomeranian Traders Video | All World Trade" />
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.facebook.com/100080231707449/videos/1316147259241076/"
                                            target="_blank" class="font-semibold line-clamp-2">
                                        Imperial Royalty Pomeranian
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.facebook.com/100080231707449/videos/1316147259241076/"
                                                target="_blank" class="text-sm font-medium">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- === TRADERS VIDEO SLIDES - END === -->
                </div>
            </div>
            <!-- === TRADERS VIDEO - END === -->
            <!-- === WEBINARS - START === -->
            <div class="bg-white main_content_custom-4 dark:bg-gray-900" id="tradersWebinars">
                <div class="mcontainer-custom-4">
                    <div class="relative flex justify-between mb-3 md:mb-4">
                        <div class="flex-1">
                            <h2 class="text-2xl font-semibold">Traders Webinars</h2>
                            <nav class="my-4 border-b"></nav>
                        </div>
                    </div>
                    <!-- === WEBINARS SLIDES - START === -->
                    <div class="relative" uk-slider="finite: true">
                        <div class="px-1 py-3 uk-slider-container">
                            <ul class="
                                uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid
                                mr-2
                                ">
                                <li class="mb-10">
                                    <a href="https://www.facebook.com/Matrix-Creation-Events-Venue-Events-Place-261606537670432/"
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28"
                                        target="_blank">
                                        <img src="uploads/traders-videos-thumbnail/matrix-creation-events-venue.webp"
                                            alt="Matrix Creation Events Venue Traders Webinars | All World Trade" class="absolute inset-0 object-cover w-full h-full" />
                                        <span class="
                                            absolute
                                            bg-black bg-opacity-60
                                            bottom-1
                                            font-semibold
                                            px-1.5
                                            py-0.5
                                            right-1
                                            rounded
                                            text-white text-xs
                                            ">
                                        </span>
                                    </a>
                                    <div class="pt-3">
                                        <a href="https://www.facebook.com/Matrix-Creation-Events-Venue-Events-Place-261606537670432/"
                                            class="font-semibold line-clamp-2" target="_blank">
                                        Matrix Creation Events Venue
                                        </a>
                                        <div class="pt-2">
                                            <a href="https://www.facebook.com/Matrix-Creation-Events-Venue-Events-Place-261606537670432/"
                                                class="text-sm" target="_blank">
                                            Multiple Virtual Reality Scenery on 3 Story High Video Wall at
                                            Matrix Creation Events Venue
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- === WEBINARS SLIDES - END === -->
                </div>
            </div>
            <!-- === WEBINARS - END === -->
            <!-- === SPONSORS - START === -->
            <div class="bg-white main_content_custom-4 dark:bg-gray-900" id="sponsors">
                <div class="mcontainer-custom-4">
                    <div class="relative flex justify-between mb-3 md:mb-4">
                        <div class="flex-1">
                            <h2 class="text-2xl font-semibold">Sponsors</h2>
                            <nav class="my-4 border-b"></nav>
                        </div>
                    </div>
                    <div class="relative" uk-slider="finite: true">
                        <div class="px-1 py-3 uk-slider-container">
                            <ul class="
                                uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid
                                mr-2
                                ">
                                <li class="mb-10">
                                    <div
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/sponsors/webp/matrix-creation-events-venue.webp"
                                        alt="Matrix Creation Events Venue Traders Sponsors | All World Trade" class="absolute inset-0 object-cover w-full h-full" />
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <div
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/sponsors/webp/ltsjs-2.webp" alt="Little Twinkling Star Jewelry Store Traders Sponsors | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <div
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/sponsors/webp/dle-2.webp" alt="Diversified Lighting Enterprises  Traders Sponsors | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <div
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/sponsors/webp/anep-top.webp" alt="Anep Top Metal Marketing Traders Sponsors | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <div
                                        class="relative block w-full overflow-hidden rounded-lg md:h-44 h-28">
                                    <img src="uploads/sponsors/webp/tech-n-2.webp" alt="Tech N Plus Traders Sponsors | All World Trade"
                                        class="absolute inset-0 object-cover w-full h-full" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === SPONSORS - END === -->
            <!-- === modal - START === -->
            <%- include('../modal/awt_introduction.ejs') %>
            <!-- === modal - END === -->
            <%- include('../includes/footer/index.ejs') %>
            <%- include('../modal/email-if-help-and-suggest-link-not-available.ejs') %>
        </div>
    </div>
    <!-- </div> -->
		<script src="assets/js/landing-signage.js"></script>
    <%- include('../includes/scripts/index.ejs') %>
		
    <!-- comment muna itong home.js code lang ito pang count ng trader at visitors pero pinatanggal muna -->
    <!-- <script src="assets/js/home.js"></script> -->
</body>
</html>