<html lang="en" class="_neKTiNR9ODo9dbROzCM"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="uploads/placeholder/logo-placeholder2.jpg" rel="icon" type="image/png" /> -->
    <link rel="icon" type="image/png" sizes="32x32" href="uploads/favicon_io/favicon.ico" />

    <meta name="description" content="All World Trade - Home" />

    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/icons.css" />
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/uikit.css" />
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/style.css" />
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/custom.css" />
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/tailwind.min.css" />
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">  -->
    <link 
        href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.css"
        rel="stylesheet"
    />
    <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/global.js"></script>

    <link  rel="preconnect" href="https://fonts.googleapis.com">
    <link  rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            colors: {
              primary: {"50":"#eff6ff","100":"#dbeafe","200":"#bfdbfe","300":"#93c5fd","400":"#60a5fa","500":"#3b82f6","600":"#2563eb","700":"#1d4ed8","800":"#1e40af","900":"#1e3a8a"}
            }
          },
          fontFamily: {
            "body": ["Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"],
            "sans": ["Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"]
          }
        }
      }
    </script> -->
    
    <link rel="stylesheet" href="https://d2s3ptptdai04x.cloudfront.net/get-flowbite-pro.a76d2865-b83d-422d-8cb0-4ebdd852cdf9.css?Expires=1687513892&amp;Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9kMnMzcHRwdGRhaTA0eC5jbG91ZGZyb250Lm5ldC9nZXQtZmxvd2JpdGUtcHJvLmE3NmQyODY1LWI4M2QtNDIyZC04Y2IwLTRlYmRkODUyY2RmOS5jc3MiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE2ODc1MTM4OTJ9fX1dfQ__&amp;Signature=bzSobTQPM3p8FU-O39xaCBWiJd9apsqtzVhQUESTCbxi2D8IeHEvRKBnuRTB4xuEcrxCsTRSWgI-5bn98~mIfQ-XHmk5BVoH-FQJHHZ3ubZL3pMSxImvlD9IgkS2JOc-iP1K4vJQuiWY3AKG8IBchzP1VVt5ljE5CcT1IQG-A4xRiO6RYOxTUfEgARdT8W2vN89V~dLajFnamyVrlRs68Z-ZJXeZCtR~Al42YguLRGirBGKljP7kH4xzK2q67FCSr7tmg3uKqKHkcQLrrFe6MM9lueWwcd92xbFGD8h1wXUCYrtDamnK5pV89~MNC4MOPX24WEmNVYmrWF8O~KariA__&amp;Key-Pair-Id=K2J5W1U51CTOXP">
  <style>/* ! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com */*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}::after,::before{--tw-content:''}html{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4;font-family:Inter, ui-sans-serif, system-ui, -apple-system, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;font-feature-settings:normal}body{margin:0;line-height:inherit}hr{height:0;color:inherit;border-top-width:1px}abbr:where([title]){-webkit-text-decoration:underline dotted;text-decoration:underline dotted}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit;border-collapse:collapse}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button;background-color:transparent;background-image:none}:-moz-focusring{outline:auto}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}fieldset{margin:0;padding:0}legend{padding:0}menu,ol,ul{list-style:none;margin:0;padding:0}textarea{resize:vertical}input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}[role=button],button{cursor:pointer}:disabled{cursor:default}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}[hidden]{display:none}*, ::before, ::after{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }::-webkit-backdrop{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }::backdrop{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }.bg-primary-600{--tw-bg-opacity:1;background-color:rgb(37 99 235 / var(--tw-bg-opacity))}.text-primary-600{--tw-text-opacity:1;color:rgb(37 99 235 / var(--tw-text-opacity))}.hover\:bg-primary-700:hover{--tw-bg-opacity:1;background-color:rgb(29 78 216 / var(--tw-bg-opacity))}.hover\:text-primary-700:hover{--tw-text-opacity:1;color:rgb(29 78 216 / var(--tw-text-opacity))}.dark .dark\:text-primary-500{--tw-text-opacity:1;color:rgb(59 130 246 / var(--tw-text-opacity))}.dark .dark\:focus\:ring-primary-900:focus{--tw-ring-opacity:1;--tw-ring-color:rgb(30 58 138 / var(--tw-ring-opacity))}</style></head>
  <body>
    <!-- === HEADER - START === -->
      <%- include('../includes/nav/primary-navigation.ejs') %>
      <div class="max-w-5xl mx-auto p-7"></div>
<div class="OmM4wtdsNjVR2r7OSzsm veFXkDzfJN473U3ycrV8 RV8RoaI_SlEMC5CEQ3ms HV01LldvyEqRHHy0hljF jj0BrgkBpq72EXwWuBh5 sfxzXnWHolluRGSsbMHw">
<!-- Pricing Card -->
<div class="yjGyQxv8jnYk9_MGMqLN _Qk4_E9_iLqcHsRZZ4ge FQJBolKGENZMnnBWg95Y yGKSom6xHdY1EhaYGurI lhxYQ_2y3sYNN3W1V_3q HYRf9RlDA82adxhJtlOL kIZDk9QaCvywlQDzyDcR h2uw7ERXhIoblPQzMfcc _RUilKYocHrR4Hi7HUMx NLUM9g1CxiratTbPnE1W _cpMMPjFQqjJu4i0Puod">
    <div class="GgmUn_AzvO94fJHuDz7E rhHZLKCNkg6rp7jwfB1J xs40NyuB4MafswSoUNRe">
        <!-- <h3 class="_9OKVeTXzfSwD_NYO6_G VwrSTsh__so52zqMJvws _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Choose a pricing plan:</h3> -->
        <div class="_9OKVeTXzfSwD_NYO6_G VwrSTsh__so52zqMJvws _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0 font-semibold" id="text-xl-name"></div>
        <ul class="i0EfZzmTLElZVOble53D _A_LQCRWRwGPsY8ta5Q_ MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk _F_1gdhzusC6tSOWHtx_ K1PPCJwslha8GUIvV_Cr lhxYQ_2y3sYNN3W1V_3q JkLSjIzXrzyFe_ogqSzW tczQgPamciYPsV_Bd0wD WoQqugRcWrYbmsWhxCUr eCx_6PNzncAD5yo7Qcic" role="tablist">
            <li class="jCISvWkW5oStPH6Wrb_H" role="presentation">
                <button id="starter-tab" type="button" class="ADhvqXKjAizJqFADNpvd iHyrYta0Jcy0_7nMWLK7 jCISvWkW5oStPH6Wrb_H PWreZZgitgAm_Nv4Noh9 pxHuWvF853ck68OLN6ef c4d_cyxeprbSxLoRnbIr SmXhrHAEhoAhEmIO1_Zs yjGyQxv8jnYk9_MGMqLN WvrFEtphYDYX1sAkd4TH yFAsiu26MUcycUf9RwrL DTyjKhtXBNaebZa5L0l9 _t2wg7hRcyKsNN8CSSeU xotVay0PVtR3gElm6ql5" aria-selected="false">Starter</button>
            </li>
            <li class="jCISvWkW5oStPH6Wrb_H" role="presentation">
                <button id="standard-tab" type="button" class="ADhvqXKjAizJqFADNpvd iHyrYta0Jcy0_7nMWLK7 jCISvWkW5oStPH6Wrb_H PWreZZgitgAm_Nv4Noh9 c4d_cyxeprbSxLoRnbIr pxHuWvF853ck68OLN6ef g3OYBOqwXUEW4dRGogkH _iRPzRRWy2UNkvZFG8iO _uoTEG_CU7r6UxI59Mw4 a0Ed69aMSu0vgf4oysz0" aria-selected="true">Standard</button>
            </li>
            <li class="jCISvWkW5oStPH6Wrb_H" role="presentation">
                <button id="premium-tab" type="button" class="ADhvqXKjAizJqFADNpvd iHyrYta0Jcy0_7nMWLK7 jCISvWkW5oStPH6Wrb_H PWreZZgitgAm_Nv4Noh9 c4d_cyxeprbSxLoRnbIr pxHuWvF853ck68OLN6ef yjGyQxv8jnYk9_MGMqLN WvrFEtphYDYX1sAkd4TH yFAsiu26MUcycUf9RwrL DTyjKhtXBNaebZa5L0l9 _t2wg7hRcyKsNN8CSSeU xotVay0PVtR3gElm6ql5" aria-selected="false">Premium</button>
            </li>
            <li class="jCISvWkW5oStPH6Wrb_H" role="presentation">
                <button id="enterprise-tab" type="button" class="ADhvqXKjAizJqFADNpvd iHyrYta0Jcy0_7nMWLK7 jCISvWkW5oStPH6Wrb_H PWreZZgitgAm_Nv4Noh9 pxHuWvF853ck68OLN6ef c4d_cyxeprbSxLoRnbIr cKi1Yd_bqrVxELlL5Ytc yjGyQxv8jnYk9_MGMqLN WvrFEtphYDYX1sAkd4TH yFAsiu26MUcycUf9RwrL DTyjKhtXBNaebZa5L0l9 _t2wg7hRcyKsNN8CSSeU xotVay0PVtR3gElm6ql5" aria-selected="false">Enterprise</button>
            </li>
        </ul>
        <div id="starter-content" class="j2x7_17hqRVmwte_tWFa">
            <div class="pSnS_Sqc_IApyugF_VpP rD4HtsUG_hahmbh2Kj09 _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0 font-semibold ">Starter details:</div>
            <p class="VwrSTsh__so52zqMJvws XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Plan pricing starts at 250 contacts.
            Select your audience size to calculate your price. The monthly email send limit for Standard
            plans is 12 times your maximum contact count.*.</p>
        </div>
        <div id="standard-content" class="">
            <div class="pSnS_Sqc_IApyugF_VpP rD4HtsUG_hahmbh2Kj09 _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Standard details:</div>
            <p class="VwrSTsh__so52zqMJvws XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Plan pricing starts at 500 contacts.
            Select your audience size to calculate your price. The monthly email send limit for Standard
            plans is 12 times your maximum contact count.*.</p>
        </div>
        <div id="premium-content" class="j2x7_17hqRVmwte_tWFa">
            <div class="pSnS_Sqc_IApyugF_VpP rD4HtsUG_hahmbh2Kj09 _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Premium details:</div>
            <p class="VwrSTsh__so52zqMJvws XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Plan pricing starts at 1000 contacts.
            Select your audience size to calculate your price. The monthly email send limit for Standard
            plans is 12 times your maximum contact count.*.</p>
        </div>
        <div id="enterprise-content" class="j2x7_17hqRVmwte_tWFa">
            <div class="pSnS_Sqc_IApyugF_VpP rD4HtsUG_hahmbh2Kj09 _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Enterprise details:</div>
            <p class="VwrSTsh__so52zqMJvws XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Plan pricing starts at unlimited contacts.
            Select your audience size to calculate your price. The monthly email send limit for Standard
            plans is 12 times your maximum contact count.*.</p>
        </div>
    </div>
    <div class="kqgYncRJQ7spwKfig6It rhHZLKCNkg6rp7jwfB1J xs40NyuB4MafswSoUNRe">
        <div id="starter-plan" class="j2x7_17hqRVmwte_tWFa dNzAVbf73rfV8iSOvOJV jCISvWkW5oStPH6Wrb_H">
            <div class="_9OKVeTXzfSwD_NYO6_G _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Starter plan</div>
            <div class="XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Starts at</div>
            <div class="_9OKVeTXzfSwD_NYO6_G g_WzHOC8DoCX2dG4ENfX P2kov_od1FPjxxII24T5 g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">$49</div>
            <a href="#" class="kqgYncRJQ7spwKfig6It _WclR59Ji8jwfmjPtOei wP9HMsqy6b96l2HBRbgb bg-primary-600 hover:bg-primary-700 _FONMPVaCsLFJJGDaaIL focus:ring-bue-200 dark:focus:ring-primary-900 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 _F_1gdhzusC6tSOWHtx_ _9OKVeTXzfSwD_NYO6_G">Buy now</a>
            <!-- <a href="#" class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _9OKVeTXzfSwD_NYO6_G _A6LflweZRUwrcL6M2Tk text-primary-600 hover:text-primary-700 dark:text-primary-500">
                View team pricing
                <svg class="QGosQoeY76W_hWM2rgwJ eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </a> -->
            <p class="MxG1ClE4KPrIvlL5_Q5x K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">*To see the monthly email send limit included with your specific plan, click Calculate my price. If your plan's contact or email send limit is exceeded, you will be charged for overages.</p>
        </div>
        <div id="standard-plan" class="dNzAVbf73rfV8iSOvOJV jCISvWkW5oStPH6Wrb_H">
            <div class="_9OKVeTXzfSwD_NYO6_G _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Standard plan</div>
            <div class="XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Starts at</div>
            <div class="_9OKVeTXzfSwD_NYO6_G g_WzHOC8DoCX2dG4ENfX P2kov_od1FPjxxII24T5 g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">$99</div>
            <a href="#" class="kqgYncRJQ7spwKfig6It _WclR59Ji8jwfmjPtOei wP9HMsqy6b96l2HBRbgb bg-primary-600 hover:bg-primary-700 _FONMPVaCsLFJJGDaaIL focus:ring-bue-200 dark:focus:ring-primary-900 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 _F_1gdhzusC6tSOWHtx_ _9OKVeTXzfSwD_NYO6_G">Buy now</a>
            <!-- <a href="#" class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _9OKVeTXzfSwD_NYO6_G _A6LflweZRUwrcL6M2Tk text-primary-600 hover:text-primary-700 dark:text-primary-500">
                View team pricing
                <svg class="QGosQoeY76W_hWM2rgwJ eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </a> -->
            <p class="MxG1ClE4KPrIvlL5_Q5x K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">*To see the monthly email send limit included with your specific plan, click Calculate my price. If your plan's contact or email send limit is exceeded, you will be charged for overages.</p>
        </div>
        <div id="premium-plan" class="j2x7_17hqRVmwte_tWFa dNzAVbf73rfV8iSOvOJV jCISvWkW5oStPH6Wrb_H">
            <div class="_9OKVeTXzfSwD_NYO6_G _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Premium plan</div>
            <div class="XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Starts at</div>
            <div class="_9OKVeTXzfSwD_NYO6_G g_WzHOC8DoCX2dG4ENfX P2kov_od1FPjxxII24T5 g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">$149</div>
            <a href="#" class="kqgYncRJQ7spwKfig6It _WclR59Ji8jwfmjPtOei wP9HMsqy6b96l2HBRbgb bg-primary-600 hover:bg-primary-700 _FONMPVaCsLFJJGDaaIL focus:ring-bue-200 dark:focus:ring-primary-900 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 _F_1gdhzusC6tSOWHtx_ _9OKVeTXzfSwD_NYO6_G">Buy now</a>
            <!-- <a href="#" class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _9OKVeTXzfSwD_NYO6_G _A6LflweZRUwrcL6M2Tk text-primary-600 hover:text-primary-700 dark:text-primary-500">
                View team pricing
                <svg class="QGosQoeY76W_hWM2rgwJ eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </a> -->
            <p class="MxG1ClE4KPrIvlL5_Q5x K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">*To see the monthly email send limit included with your specific plan, click Calculate my price. If your plan's contact or email send limit is exceeded, you will be charged for overages.</p>
        </div>
        <div id="enterprise-plan" class="j2x7_17hqRVmwte_tWFa dNzAVbf73rfV8iSOvOJV jCISvWkW5oStPH6Wrb_H">
            <div class="_9OKVeTXzfSwD_NYO6_G _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Enterprise plan</div>
            <div class="XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Starts at</div>
            <div class="_9OKVeTXzfSwD_NYO6_G g_WzHOC8DoCX2dG4ENfX P2kov_od1FPjxxII24T5 g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">$249</div>
            <a href="#" class="kqgYncRJQ7spwKfig6It _WclR59Ji8jwfmjPtOei wP9HMsqy6b96l2HBRbgb bg-primary-600 hover:bg-primary-700 _FONMPVaCsLFJJGDaaIL focus:ring-bue-200 dark:focus:ring-primary-900 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 _F_1gdhzusC6tSOWHtx_ _9OKVeTXzfSwD_NYO6_G">Buy now</a>
            <!-- <a href="#" class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _9OKVeTXzfSwD_NYO6_G _A6LflweZRUwrcL6M2Tk text-primary-600 hover:text-primary-700 dark:text-primary-500">
                View team pricing
                <svg class="QGosQoeY76W_hWM2rgwJ eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </a> -->
            <p class="MxG1ClE4KPrIvlL5_Q5x K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">*To see the monthly email send limit included with your specific plan, click Calculate my price. If your plan's contact or email send limit is exceeded, you will be charged for overages.</p>
        </div>
    </div>
</div>
</div>
    <script src="https://d2s3ptptdai04x.cloudfront.net/get-flowbite-pro.2d30192e-6aca-4aa3-ab69-fc057e397894.js?Expires=1687513899&amp;Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9kMnMzcHRwdGRhaTA0eC5jbG91ZGZyb250Lm5ldC9nZXQtZmxvd2JpdGUtcHJvLjJkMzAxOTJlLTZhY2EtNGFhMy1hYjY5LWZjMDU3ZTM5Nzg5NC5qcyIsIkNvbmRpdGlvbiI6eyJEYXRlTGVzc1RoYW4iOnsiQVdTOkVwb2NoVGltZSI6MTY4NzUxMzg5OX19fV19&amp;Signature=OP80GYBWO6BBDsCOvifobDc1OAOZPROg5uMZ0gyFwV1P1LAMe6qUtVYcJWHAqK0e6dEbFg8yKgVcWN-g4bEjzLXahmMTMUkHTL2Zc7PFQKoWZUv4yUFhvtd-D1WpxD5pt0qA68QRd3S5XIQrUwPzVlp7BnEuppK4f5NVV~yVSLHyps5ucFZ25xGI7~Y8qgZEoFDpznHkH~ORSt4-bMTA35xTjIXe9gvrf7rtkx0Huvop8a~J-9sqamaJAPQeSTI6Am-vNDIbiaxy~s1V9x1hD5zjCJbOtRVecunZmvqVYYNbleOmGQDTw6bUT2ciqz5KZl-ENudw3oD9vNmGeINXJg__&amp;Key-Pair-Id=K2J5W1U51CTOXP"></script>
    <script>({251:function(){function t(e,n){const r=a();return t=function(t,e){return r[t-=176]},t(e,n)}const e=t;!function(e,n){const r=t,c=e();for(;;)try{if(439497==parseInt(r(227))/1*(parseInt(r(222))/2)+parseInt(r(209))/3+-parseInt(r(178))/4*(parseInt(r(226))/5)+-parseInt(r(205))/6+parseInt(r(206))/7*(parseInt(r(195))/8)+-parseInt(r(176))/9*(parseInt(r(207))/10)+parseInt(r(228))/11)break;c.push(c.shift())}catch(t){c.push(c.shift())}}(a);const n=function(){let e=!0;return function(n,r){const c=e?function(){const e=t;if(r){const t=r[e(213)](n,arguments);return r=null,t}}:function(){};return e=!1,c}}(),r=n(this,(function(){const e=t;return r[e(187)]()[e(212)](e(188)+"+$")[e(187)]().constructor(r).search(e(188)+"+$")}));r();const c=[{id:"starter",triggerEl:document.querySelector(e(181)+"ab"),targetEl:document[e(198)+"tor"](e(199)+e(215)),pricingEl:document[e(198)+e(204)]("#starter-p"+e(186))},{id:e(193),triggerEl:document[e(198)+e(204)](e(191)+"tab"),targetEl:document[e(198)+e(204)](e(191)+e(223)),pricingEl:document.querySelector(e(191)+"plan")},{id:"premium",triggerEl:document[e(198)+e(204)]("#premium-tab"),targetEl:document.querySelector(e(200)+e(215)),pricingEl:document["querySelec"+e(204)](e(180)+"lan")},{id:e(183),triggerEl:document[e(198)+e(204)](e(225)+e(211)),targetEl:document[e(198)+e(204)](e(225)+e(220)),pricingEl:document[e(198)+"tor"](e(225)+e(184))}],s={defaultTabId:"standard",activeClasses:e(179)+e(219)+e(189)+"2UNkvZFG8i"+e(217)+e(197)+"w4 a0Ed69aMSu0vgf4oy"+e(201),inactiveClasses:e(208)+e(194)+e(224)+"DYX1sAkd4T"+e(218)+e(192)+"rL DTyjKht"+e(216)+e(203)+e(202)+"SSeU xotVa"+e(210)+e(190),onShow(t){const n=e,r=t[n(196)+"ab"]();c.map((function(t){const e=n;t[e(221)].classList.add(e(214)+e(177))})),r[n(221)][n(182)][n(185)]("j2x7_17hqR"+n(177))}};function a(){const t=["U7r6UxI59M","querySelec","#starter-c","#premium-c","sz0","hRcyKsNN8C","0l9 _t2wg7","tor","4268634jzyClP","17178KJOuxh","400ewriLg","yjGyQxv8jn","893673XPWCEW","y0PVtR3gEl","e-tab","search","apply","j2x7_17hqR","ontent","XBNaebZa5L","O _uoTEG_C","H yFAsiu26","EW4dRGogkH","e-content","pricingEl","2gQTrWL","content"," WvrFEtphY","#enterpris","1046245HevEHI","825485ZEDOfe","4777619PYheYG","53532aIJPcN","Vmwte_tWFa","12SdWZWm","g3OYBOqwXU","#premium-p","#starter-t","classList","enterprise","e-plan","remove","lan","toString","(((.+)+)+)"," _iRPzRRWy","m6ql5","#standard-","MUcycUf9Rw","standard","Yk9_MGMqLN","1496cbsqIf","getActiveT"];return(a=function(){return t})()}new Tabs(c,s)}})[251]();</script>
    <script>
      window.addEventListener("load", function(event) {
        const links = document.querySelectorAll("a");
        const buttons = document.querySelectorAll("button");

        links.forEach(function(link) {
          link.addEventListener("click", function(ev) {
            ev.preventDefault();
          });
        });

        buttons.forEach(function(button) {
          button.addEventListener("click", function(ev) {
            ev.preventDefault();
          });
        });
      });
    </script>
  
    <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/toggle-dark-light.js"></script>
    <script
        
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>
    <script  src="assets/js/upgrade-plan.js"></script>
    <!-- <script src="assets/js/global.js"></script> -->
    <!-- <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/tippy.all.min.js"></script> -->
    <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/uikit.js"></script>
    <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/simplebar.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script> -->
    <!-- <script src="assets/css/slim-scroll-master/dist/slimscroll.min.js"></script> -->
    <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/custom.js"></script>
    <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/bootstrap-select.min.js"></script>
    <script  nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/session-checker.js"></script>

</body></html>