<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description"
        content="All World Trade | Discover a new world of virtual trade shows and events at our online platform. Explore industry-specific events, network with peers, and stay ahead of the game from the comfort of your own home. Join now and elevate your business to new heights!">

    <meta name="keywords"
        content="Online trade shows, Virtual events, Webinars, Industry-specific events, Virtual exhibition, Digital trade fair, Virtual booth, Online conference, Web-based event, Live streaming events, Video conferencing, Networking opportunities, Industry experts, Product demos, Business development, Marketing strategies, All World Trade">

    <meta property="og:title" content="Home Page">
    <meta property="og:type" content="website">

    <meta property="og:description"
        content="All World Trade | Discover a new world of virtual trade shows and events at our online platform. Explore industry-specific events, network with peers, and stay ahead of the game from the comfort of your own home. Join now and elevate your business to new heights!">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>All World Trade - Home</title>

    <link rel="icon" type="image/png" sizes="32x32"
        href="<%= process.env.AWT_HOSTNAME %>uploads/favicon_io/favicon.ico" />


    <meta property="og:image" content="<%= process.env.AWT_HOSTNAME %>uploads/landing/all-world-trade-home-page.webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image" content="<%= process.env.AWT_HOSTNAME %>uploads/landing/map.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/jpeg">


    <!-- <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/icons.css" /> -->
    <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-min/icons.min.css" />

    <!-- <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/uikit.css" /> -->
    <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-min/uikit.min.css" />

    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/style.css" />
    <!-- <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-min/style.min.css" /> -->

    <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/custom.css" />
    <!-- <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-tailwind/custom.css" /> -->

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-tailwind/output.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.css"
        rel="stylesheet" />

    <!-- <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/global.js"></script> -->
    <script src="<%= process.env.AWT_HOSTNAME %>assets/js-min/global.min.js"></script>

    <!-- <link  rel="preconnect" href="https://fonts.googleapis.com">
        <link  rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link  href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet"> -->


    <!-- <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script> -->
    <!-- <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script> -->


    <!-- <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" /> -->

</head>