<html lang="en" class="dark">

<head>
    <link  rel="preconnect" href="https://fonts.gstatic.com">
    <link  rel="stylesheet" data-href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&amp;display=swap">
    <link  rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
    <meta property="og:url" content="/">
    <meta property="og:type" content="page">
    <meta property="og:title" content="All World Trade - Terms and Conditions">
    <meta property="og:description"
        content="All World Trade - Terms and Conditions">
   
    <title>All World Trade - Terms and Conditions</title>
    <meta name="title" content="All World Trade - Terms &amp; Conditions">
    <meta name="description"
        content="All World Trade - Terms and Conditions">
    <meta name="keywords"
        content="All World Trade - Terms and Conditions">
    <link rel="canonical" href="https://tailwinduikit.com/terms-and-conditions">
    <meta name="viewport" content="width=device-width">
    <meta name="next-head-count" content="28">
    <!-- <link rel="preload" href="<%= process.env.AWT_HOSTNAME %>assets/css/terms-and-condition-1.css" as="style"> -->
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/terms-and-condition-2.css" data-n-g="">
    <%- include('../includes/head/index.ejs') %>
</head>

<body class="bg-white dark:bg-gray-900">
    <div id="__next">
      
        <!-- === HEADER - START === -->
        <%- include('../includes/nav/primary-navigation.ejs') %>
        <!-- === HEADER - END === -->

        <main class="flex-1">
            <div class="lg:mx-auto lg:container pt-1  px-1">

                <h2
                    class="mt-24 md:mt-48 mb-6 md:mb-12 text-2xl lg:2xl:text-5xl md:text-5xl text-3xl  font-extrabold md:leading-[60px] leading-snug lg:leading-[60px] font-black leading-10 text-gray-800 dark:text-gray-50 uppercase orbitron" style="text-align: center;">
                    COOKIE POLICY
                </h2>
                <div
                    class="px-4 md:px-8 lg:px-16 py-6 md:py-12 bg-gray-100 dark:bg-gray-800 border-2 rounded-xl border-gray-100 dark:border-gray-800">
                    <div class="w-full">
                        
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                            
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The terms/definitions used herein have the same meaning given in the Terms of Use.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Sites use “cookies”. Please note that some information may be gathered with the use of cookies, which are small pieces of information stored on your browser that may be retrieved by the Sites. We store and place cookies on your computer and mobile devices to improve your online experience.  Cookies, however, do not store any personal information or any information that can identify you. This Cookie Policy is in conjunction with the Company’s Data Privacy Notice, which governs the collection and use of personal information through the Sites. We do not have cookies that store any personal information in clear text form. Cookies shall not store passwords, even in encrypted forms.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                By continuing to use this site, you are agreeing to Our use of cookies.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Purpose 
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                This Cookie Policy provides you with clear and pertinent information about the cookies We use and the purposes for using those cookies. We request to read this Cookie Policy for more details about the cookies that are placed when you are using the Sites.
                            </p>
                        </div>
                        <div class="mb-16">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                What are Cookies? 
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Cookies are small text files that are placed on your computer or device by websites that you visit. Cookies often include a unique identifier that is sent to a user’s browser from a website’s computers and stored on a user’s computer’s hard drive or on a tablet or mobile device (collectively referred to as “Computer”).  Cookies store a small amount of data on your Computer about your visit to websites. They are widely used in order to make websites function properly as well as to provide business and marketing information to the owners of the websites. 
                            </p>
                        </div>
                        <div class="mb-16">
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word; color: red;">
                                <b style="color: red;">Option 1</b>
                            </p>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The following are the classes of cookies, which We may use:
                            </p>
                            <ul class="mb-16" style="text-align: justify; text-justify: inter-word;">
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    First Party Cookies - refers to those dropped by the website that is visited by the user.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Third Party Cookies - refers to cookies that are dropped by a domain other than that of the website being visited by the user.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Persistent Cookies - refers to cookies that remain on a computer or mobile device for the period of time specified in the cookie or until the user deletes the cookie. These cookies allows us to recognize you, remember your preferences so you do not have to re-enter this information at all times. These cookies are stored permanently on your hard drive, unless you otherwise delete in your hard drive.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Session Cookies - refers to cookies that carry information across pages and various modules or starts a browser session when user opens the browser window and finishes when they close the browser window. These cookies help you make optimal use of features and benefits. When you sign out or close your browser, these cookies are deleted automatically.
                                </li>
                            </ul>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                You can choose to whether accept Cookies by changing the settings on your browser. However, if you disable this function, your experience on the Site may be diminished and some features may not work as intended.
                            </p>
                        </div>
                        <div class="mb-16">
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word; color: red;">
                                <b style="color: red;">Option 2</b>
                            </p>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The following are the types of cookies on our Sites according to purpose:
                            </p>
                            <ul class="mb-16" style="text-align: justify; text-justify: inter-word;">
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Essential Cookies - these Cookies are necessary for the Services to function properly and cannot be disabled. They are usually only set, in response to actions made by you, enabling functions like navigation, or setting preferences. These Cookies do not store information about you that will be used for other purposes.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Preferences & Functional Cookies - these Cookies enable the Services to provide enhanced functionality and personalization. They may be set by us (first-party Cookies) or by third-party providers who work with us (third-party Cookies).
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Performance & Analytics Cookies - these Cookies are for internal use only. They help us to secure and maintain our Services, and to remember your preferences for tools found on the Services. They are also used for gathering analytics data on how you interact with our Services and the improvement performance of the site accordingly. If you do not allow these Cookies, we will not know when you have visited our site.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Targeting & Marketing/Advertising Cookies - these Cookies make advertisement more relevant to you. Our marketing/advertising partners may use it to show you relevant ads on different websites by uniquely identifying your browser and internet device.\
                                </li>
                            </ul>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                You can choose to whether accept Cookies by changing the settings on your browser. However, if you disable this function, your experience on the Site may be diminished and some features may not work as intended.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                How long does Cookies last?
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The length of time a Cookie stays on your device varies according to its purpose.  A Cookie that remains on your device after your session is concluded (until it expires or deleted) is called a “Persistent Cookie”. Persistent Cookies are used for different purposes, such as tracking your preferences, login information, your interaction with our Services and the effectiveness of our targeting Cookies.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                A Cookie that is automatically deleted once your session is concluded is called a “Session Cookie”. Session Cookies are used for the duration of your stay on our site and are automatically deleted when you exit the browser.
                            </p>
                        </div> 
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Managing Cookies
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                You can change your Cookie settings by opting out of all Cookies. You may block cookies by changing the settings on your browser. Please note that if you choose not to permit cookies, some areas of the Sites may not function properly or be accessible. Unless you have adjusted your browser settings so that it refuses cookies, We will drop cookies as soon as you visit the Site. Most browsers automatically accept Cookies, but you can usually modify your browser setting to decline Cookies if you prefer. If you choose to decline Cookies, you may not be able to sign in or use the interactive features of our Site that depend on Cookies.
                            </p>
                        </div> 
                    </div>
                </div>
            </div>
        </main>
        
        <%- include('../includes/footer/index.ejs') %>
    </div>
    <%- include('../includes/scripts/index.ejs') %>

    <script >
        // ----------------------------------------------------
        // for profile_dropdown [START]
        // ----------------------------------------------------
        let sessionUuid =  `<%= data.uuid %>`;
        let sessionType =  `<%= data.type %>`;
        let sessionFirstName =  `<%= data.first_name %>`;
        let sessionLastName =  `<%= data.last_name %>`;
        let sessionEmail = `<%= data.email %>`;

        sessionFirstName ? document.getElementById('user-name').innerHTML = sessionFirstName + ' ' + sessionLastName : '';
        if (sessionType == 1) {
            $('#upgrade-account').prop('disabled', true);
            document.getElementById('upgrade-account').style.display = 'none';
            document.getElementById('user-type').innerHTML = 'Trader';
        }
        if (sessionType == 2) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Large Scale';
        }
        if (sessionType == 3) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Medium Scale';
        }
        if (sessionType == 4) {
            document.getElementById('user-type').innerHTML = 'Small Scale';
        }

        if (sessionUuid) {
          document.getElementById('right_side_with_session').style.display = 'block';
          document.getElementById('right_side_with_no_session').style.display = 'none';
        } else {
          document.getElementById('right_side_with_session').style.display = 'none';
          document.getElementById('right_side_with_no_session').style.display = 'block';
        }

        // ----------------------------------------------------
        // for profile_dropdown [END]
        // ----------------------------------------------------
    </script>
</body>

</html>