<html lang="en" class="dark">

<head>
    <link  rel="preconnect" href="https://fonts.gstatic.com">
    <link  rel="stylesheet" data-href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&amp;display=swap">
    <link  rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
    <meta property="og:url" content="/">
    <meta property="og:type" content="page">
    <meta property="og:title" content="All World Trade - Terms and Conditions">
    <meta property="og:description"
        content="All World Trade - Terms and Conditions">
   
    <title>All World Trade - Terms and Conditions</title>
    <meta name="title" content="All World Trade - Terms &amp; Conditions">
    <meta name="description"
        content="All World Trade - Terms and Conditions">
    <meta name="keywords"
        content="All World Trade - Terms and Conditions">
    <link rel="canonical" href="https://tailwinduikit.com/terms-and-conditions">
    <meta name="viewport" content="width=device-width">
    <meta name="next-head-count" content="28">
    <!-- <link rel="preload" href="<%= process.env.AWT_HOSTNAME %>assets/css/terms-and-condition-1.css" as="style"> -->
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/terms-and-condition-2.css" data-n-g="">
    <%- include('../includes/head/index.ejs') %>
</head>

<body class="bg-white dark:bg-gray-900">
    <div id="__next">
      
        <!-- === HEADER - START === -->
        <%- include('../includes/nav/primary-navigation.ejs') %>
        <!-- === HEADER - END === -->
        <main class="flex-1">
            <div class="lg:mx-auto lg:container pt-1  px-1">

                <h2
                    class="mt-24 md:mt-48 mb-6 md:mb-12 text-2xl lg:2xl:text-5xl md:text-5xl text-3xl  font-extrabold md:leading-[60px] leading-snug lg:leading-[60px] font-black leading-10 text-gray-800 dark:text-gray-50 uppercase orbitron" style="text-align: center;">
                    DATA PRIVACY NOTICE
                </h2>
                <div
                    class="px-4 md:px-8 lg:px-16 py-6 md:py-12 bg-gray-100 dark:bg-gray-800 border-2 rounded-xl border-gray-100 dark:border-gray-800">
                    <div class="w-full">
                        
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                            
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                All World Trade (hereinafter, the <b>“Company“</b>, <b>“We“</b>, <b>“Us”</b> or <b>“Our”</b>) respects and values privacy and the confidentiality of personal information. This Data Privacy Notice (“Notice”) gives information on how We collect, use, store, and process personal information of natural persons or individuals and provides terms that are integral parts of the Terms of Use.  This Notice covers persons who are: (i) individuals including past, present and prospective customers; and (ii) individual visitors, inquirers, representatives of entities or corporations (altogether the <b>“Data Subjects”</b>).
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We adhere to the data privacy principles of: (i) legitimate purpose; (ii) transparency; and (iii) proportionality.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The terms/definitions used herein have the same meaning given in the Terms of Use.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Purpose of collection and processing of personal information
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                We collect and use your personal information in order to:
                            </p>
                            <ul style="text-align: justify; text-justify: inter-word;">
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron ">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Properly conduct business including initiation of business relationships, processing of transactions, good record keeping, and maintenance of accounts;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Determine your eligibility for Services and/or Events (as defined herein) requested or applied for;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron ">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Process your activities such as event registration, abstract submission, attendance and accreditations;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron ">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Provide you with customer care, assistance and technical support services;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron ">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Further develop, customize and improve the Services, and to improve your user experience, based on common or personal preferences, experiences and difficulties;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron ">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Facilitate and optimize our marketing and advertising campaigns, ad management and sales operations, and to manage and deliver advertisements for our products and Services more effectively;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron ">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Support and enhance our data security measures, including for the purposes of preventing and mitigating the risks of unauthorized access or use, fraud, error or illegal activities;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Create aggregated statistical data, inferred non-personal data, or anonymized or pseudonymized data (rendered non-personal), which We or our Partners (as defined herein) may use to provide and improve our respective services, or for any other purpose (such as estimating and reporting total audience size and traffic);
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Communicate including sending of notices, advisories, requests for feedback about our Services, giving and receiving of instructions, and user complaints;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Perform our obligations arising from Our contracts with customers/users;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Comply with laws and regulations including proper user identification; and
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Conduct business and market research, which may include user profiling and marketing.
                                </li>
                            </ul>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Types of personal information or data that We collect and process
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                In order to provide Our Services and participate in Our Events, We collect and process:
                            </p>
                            <ul class="mb-16" style="text-align: justify; text-justify: inter-word;">
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    <b>Participant data</b> concerning our website visitors and/or event participants, attendees, lecturers and speakers (collectively, “Participants”), who register for events and/or webinars and/or online courses that we organize or take part in (collectively “Events”) and who visit or engage with our Sites;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    <b>Partner data</b> concerning our partners and/or customers, sponsors, exhibitioners and organizations and their representatives (collectively <b>“Partners”</b>) who use Our event management platform and Services or who otherwise cooperate with Us in organizing, promoting and executing the Events and Services.
                                </li>
                            </ul>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron mb-16"  style="text-align: justify; text-justify: inter-word;">
                                The types of <b>personal information</b> from participant data and partner data that We collect and process depend on the Events, transaction, or Services inquired or availed of, which include:
                            </p>
                            <ul  style="text-align: justify; text-justify: inter-word;">
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Basic information - full name, gender, date of birth, nationality, civil status, permanent address, present address, email address, tax identification number and other government-issued identification numbers, mobile number, home number, employment or business information, company name, company contact details, job position and rank, office address, and such other information necessary for due diligence and comply with laws and regulations;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Visual data, images or pictures;
                                </li>
                                
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Audio or voice recordings of telephone-initiated transactions and customer service calls;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Additional information that we collect over the course of our relationship and such as transaction data, financial data, behavioral data, and inquiries about our Services; and
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Other information that may be necessary for our Events, or Services.
                                </li>
                            </ul>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                When do We collect personal information?
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We collect personal information when individuals sign-up or use our website, register to Our Events, communicate or inquire from Us for business or personal purposes or as members/representatives of organizations.  Such personal information is typically collected and generated through automatic means, directly from you, through your interaction with us or with our Services, through our partners or through third-party services, social media, analytics tools, Events We organize or take part in, and other business initiatives.  We may likewise collect personal information from other sources such as public online platforms, financial institutions, payment gateway processors, government authorities, and registers for purposes of identity verification and legal requirements.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Data Processing
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Data processing means the collection, recording, organization, storage, updating or modification, retrieval, consultation, use, consolidation, blocking, erasure or destruction of personal information.  We process personal information only for legitimate purposes under these terms and conditions, and as required by laws and regulations. We ensure that only authorized personnel and third-party service providers, who satisfy our stringent risk management, information security, and data privacy requirements, are allowed to process personal information.
                            </p>
                        </div> 
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                How We collect personal information
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                We may collect personal information when you sign up, fill out Our electronic forms, give us a call, use our websites or mobile applications, or drop by our office. We may also collect your information through the following:
                            </p>
                            <ul  style="text-align: justify; text-justify: inter-word;">
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    In applications, emails and letters to us, customer surveys, reviews and conversations;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    From data analysis of your transactions, participation in Our events and availment of Our Services; and
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Information that We receive from public sources, Our subsidiaries and affiliates, and third-parties.  When we receive your personal data from third-parties, we presume that you have permitted these parties to share your data with us.
                                </li>
                            </ul>
                        </div> 
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Personal information that we collect through your web activities
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We use Google Analytics to collect information about use of this site. Google Analytics collects such information as: (i) frequency of user site visits; (ii) sites or pages visited; and (iii) sites visited prior to this site. We then use the information collected from Google Analytics for the purpose of improving the Sites and Services. Google Analytics collects only the IP address assigned to you on the date you visit this site, rather than your name or other identifying information. We do not combine information collected through the use of Google Analytics with any of your personally identifiable information.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Data Storage
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We store personal information in secure and encrypted devices and media. We store physical copies of documents containing Customer Data in secure physical vaults.
                            </p>
                        </div> 
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Data Access
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Personal information can only be accessed only by authorized personnel on a role-based manner following the proportionality principle that authorized personnel can only access Customer Data they need for their role and purpose in the Company.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Data Sharing
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                In the normal course of our business operations, we may share personal information with third-party service providers, data processors and partners, upon your written or electronic consent, and to government authorities if required by law or regulation.  Third-party service providers and data processors will be provided only with personal information necessary to perform their services.  Contractual protections, through data sharing agreements, are in place to ensure they do not process such data for other purposes. These activities may be performed by IT firms to provide us with application systems and IT infrastructure services, including cloud services.  In our data sharing agreements with third party service providers and data processors, we employ standardized model clauses of the National Privacy Commission to ensure data protection.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                After obtaining your consent, we may disclose your information to event exhibitors or third-parties for further processing such as marketing, cross-selling and other specified legitimate purposes. In instances where your information is shared with exhibitors or third parties, We will ensure that they can demonstrate sufficient organizational, technical and physical security measures to protect your personal information.  We may thus share your data with:
                            </p>
                            <ul>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    <b>Our Partners and their representatives:</b>  Participants’ data is shared with the administrator or other representatives of the relevant Partner, meaning, such representatives may access it on behalf of the Partner, and will be able to monitor, process and analyze the personal data contained therein.
                                </li>
                            </ul>
                            <ul>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    <b>Other Participants:</b> registration and participation in our Events is only allowed for identified Participants (i.e., no anonymous participation is allowed). By participating in any of Our Events you are required to identify yourself to Us and to the other Participants. The relevant information may thus be visible to other registered attendees in both physical and online Events.
                                </li>
                            </ul>
                            <ul>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    <b>Public Information:</b>  we may share information that you voluntarily make public, including information that you post on any blogs, message boards, chat rooms, educational portals or other similar forums whether or not such forums are operated or owned by the Company. Since such public information can be accessed by others and used by any member of the public, such use by third parties is beyond our control. With your consent, we may also display personal testimonials of satisfied Partners on the Event website in along with your name.
                                </li>
                            </ul>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Protection and Security
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                We store personal information in paper and electronic formats. We protect personal information against unauthorized use and access, cybercrime, identity theft, financial crimes, money laundering, and fraud. The security of your personal information is very important to us and we take reasonable steps to protect it from misuse, interference, loss, unauthorized access, modification, and unauthorized disclosure by establishing and enforcing measures that include the following:   
                            </p>
                            <ul class="" style="text-align: justify; text-justify: inter-word;">
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Confidentiality requirements and data privacy training of Our employees;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Document storage security policies;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Security measures to control access to our systems and premises;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Limitations on access to personal information;
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Strict selection of third-party service providers, data processors and partners; 
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Restrictive data sharing agreements; and
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 mb-16 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Electronic security systems, such as firewalls and data encryption of our websites and mobile applications.
                                </li>
                            </ul>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 mb-16 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We may store your personal data physically or electronically with third party data storage providers. When we undertake this, we use contractual arrangements to ensure those providers take appropriate measures to protect information and restrict access and use.
                            </p>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 mb-16 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We may also reset your password or temporarily hold your online account to protect you from detected suspected unauthorized or fraudulent activities.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Data Retention
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We keep your personal information as long as may be necessary for: (i) the fulfilment of the declared, specified, and legitimate purposes, or when the processing relevant to the purposes has been terminated; (ii) the establishment, exercise or defense of legal claims; (iii) legitimate business purposes; or (iv) compliance with orders of government authorities, laws and rules. 
                            </p>
                        </div> 
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Data Disposal
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We will only retain your information for as long as necessary for the purpose for which they were collected or as required by law and regulation. We will destroy your personal data in a secure manner when its retention is no longer required by purpose, law or regulation.
                            </p>
                        </div> 
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Rights of Data Subjects
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                As a Data Subject, you have the following rights:
                            </p>
                            <ul style="text-align: justify; text-justify: inter-word;" >
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Right to be informed – you have the right to be informed on the purpose how your personal information will be collected and processed.
                                </li>   
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Right to access – upon written request, you may demand reasonable access to your personal information, which may include the contents, the manner of processing, sources where they were obtained, recipients and reasons for disclosure.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Right to dispute and correct – you may dispute the inaccuracy or error in your personal information and to have them corrected.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Right to object – unless required by law, rules and other regulations, you may suspend, withdraw, and remove your personal information from further processing, including opting out of any commercial communication or advertising purposes from the Company.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Right to data erasure or blocking – based on reasonable grounds, you have the right to suspend, withdraw or order blocking, removal or destruction of your personal information from the Company’s records and system, without prejudice to the Company’s processing for commercial, operational, legal, and regulatory purposes.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>                                   
                                    Right to data portability – you have the right to obtain from the Company your personal information in an electronic or format that is commonly used and allows for further use.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Right to file a complaint – you may file your complaint or any concerns with our Data Protection Officer and/or with the National Privacy Commission through www.privacy.gov.ph.
                                </li>
                                <li
                                    class="relative pl-6 md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron">
                                    <div class="h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3"></div>
                                    Right to be indemnified for damages – you have every right to be indemnified for any damages sustained due to such violation of your right to privacy through inaccurate, false, unlawfully obtained or unauthorized use of your information.
                                </li>
                            </ul>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Changes to our Privacy Notice
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                We may amend this Notice to comply with changes in relevant laws and regulations, and to keep you informed of changes in the ways we process personal information. Updates will be posted on this website.
                            </p>
                        </div> 
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Contact Us
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                For questions and feedback, you may reach us at this number: (+632) 123456789, or email us at 
                                <a
                                    class="cursor-pointer text-indigo-500 break-all"
                                    href="#">qaf@allworldtrade.com</a>
                            </p>
                        </div>
                    </div>
                </div>

                
            </div>
        </main>
        
        <%- include('../includes/footer/index.ejs') %>
    </div>
    <%- include('../includes/scripts/index.ejs') %>

    <script >
        // ----------------------------------------------------
        // for profile_dropdown [START]
        // ----------------------------------------------------
        let sessionUuid =  `<%= data.uuid %>`;
        let sessionType =  `<%= data.type %>`;
        let sessionFirstName =  `<%= data.first_name %>`;
        let sessionLastName =  `<%= data.last_name %>`;
        let sessionEmail = `<%= data.email %>`;

        sessionFirstName ? document.getElementById('user-name').innerHTML = sessionFirstName + ' ' + sessionLastName : '';
        if (sessionType == 1) {
            $('#upgrade-account').prop('disabled', true);
            document.getElementById('upgrade-account').style.display = 'none';
            document.getElementById('user-type').innerHTML = 'Trader';
        }
        if (sessionType == 2) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Large Scale';
        }
        if (sessionType == 3) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Medium Scale';
        }
        if (sessionType == 4) {
            document.getElementById('user-type').innerHTML = 'Small Scale';
        }

        if (sessionUuid) {
          document.getElementById('right_side_with_session').style.display = 'block';
          document.getElementById('right_side_with_no_session').style.display = 'none';
        } else {
          document.getElementById('right_side_with_session').style.display = 'none';
          document.getElementById('right_side_with_no_session').style.display = 'block';
        }

        // ----------------------------------------------------
        // for profile_dropdown [END]
        // ----------------------------------------------------
    </script>
</body>

</html>