<html lang="en" class="dark">

<head>
    <link  rel="preconnect" href="https://fonts.gstatic.com">
    <link  rel="stylesheet" data-href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&amp;display=swap">
    <link  rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
    <meta property="og:url" content="/">
    <meta property="og:type" content="page">
    <meta property="og:title" content="All World Trade - Terms and Conditions">
    <meta property="og:description"
        content="All World Trade - Terms and Conditions">
   
    <title>All World Trade - Terms and Conditions</title>
    <meta name="title" content="All World Trade - Terms &amp; Conditions">
    <meta name="description"
        content="All World Trade - Terms and Conditions">
    <meta name="keywords"
        content="All World Trade - Terms and Conditions">
    <link rel="canonical" href="https://tailwinduikit.com/terms-and-conditions">
    <meta name="viewport" content="width=device-width">
    <meta name="next-head-count" content="28">
    <!-- <link rel="preload" href="<%= process.env.AWT_HOSTNAME %>assets/css/terms-and-condition-1.css" as="style"> -->
    <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/terms-and-condition-2.css" data-n-g="">
    <%- include('../includes/head/index.ejs') %>
</head>

<body class="bg-white dark:bg-gray-900">
    <div id="__next">
      
        <!-- === HEADER - START === -->
        <%- include('../includes/nav/primary-navigation.ejs') %>
        <!-- === HEADER - END === -->
        <main class="flex-1">
            <div class="lg:mx-auto lg:container pt-1  px-1">

                <h2
                    class="mt-24 md:mt-48 mb-6 md:mb-12 text-2xl lg:2xl:text-5xl md:text-5xl text-3xl  font-extrabold md:leading-[60px] leading-snug lg:leading-[60px] font-black leading-10 text-gray-800 dark:text-gray-50 uppercase orbitron" style="text-align: center;">
                    TERMS OF USE
                </h2>
                <div
                    class="px-4 md:px-8 lg:px-16 py-6 md:py-12 bg-gray-100 dark:bg-gray-800 border-2 rounded-xl border-gray-100 dark:border-gray-800">
                    <div class="w-full">
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                <b>All World Trade</b> (hereinafter, the <b>“Company“</b>, <b>“We“</b>, <b>“Us”</b> or <b>“Our”</b>) welcome you to this website,
                                which is owned and/or operated by the Company, and to all of its related domains and subdomains 
                                (collectively, the “Sites“) and/or to use the products and services offered by the Company (the “Services“).  
                                The Company maintains the Sites in order to provide you Our Services and to facilitate communication with Us. 
                                Any communication or material you transmit to us via the Site or electronic mail may be used by the Company 
                                for any purpose within the limits of our Data Privacy Notice including reproduction, publication and posting.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Not all of the Services described on the Site are available in all geographic areas and you may not be eligible for all Services described. 
                                The Company reserves the right to determine one’s eligibility to the Services.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Acceptance of the Terms
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                By using the Sites and/or by accessing the Sites (including, without limitation, by linking to the Sites), downloading any Materials (as defined herein), 
                                or using any of the Services, you acknowledge that you have read and understood these terms of use including those in Our Data Privacy Notice and Cookies Policy
                                (collectively, the “Terms“) and you agree to be bound by them and to comply with all applicable laws and regulations regarding the use of the Sites. 
                                If you do not agree to the Terms, do not enter the Sites or use the Services provided.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Terms may be revised and updated from time to time, with or without any notice.  By using, entering and/or viewing the Sites, 
                                you acknowledge that these Terms constitute a binding and enforceable legal contract between the Company, you and any person so using or entering the Sites.    
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Availability of the Sites
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Access to the Sites and/or Services may not be available at all times or in all areas. The Company reserves the right to modify or 
                                discontinue, temporarily or permanently, the Sites, with or without any notice to you. You agree that the Company shall not be liable
                                to you or to any third party for the content or any modification, suspension, or discontinuance of: (a) the Sites; or (b) the materials 
                                or information on the Sites (including any contacts, links, publications, blogs, travel and conference information, technical, medical, 
                                and scientific informational materials presented, other specialized content, documentation, data, related graphics, and other features 
                                as applicable) (collectively, the <b>“Materials“</b>).
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Restrictions of Use
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Company retains the copyright to the Materials on the Sites.  You and any person shall not: (i) copy, modify, adapt, make available 
                                (whether publicly or not), translate, reverse engineer, decompile, or disassemble any portion of the Sites and/or Services or the Materials 
                                of the Sites in any way; (ii) create a browser or border environment, or make graphical user interface (GUI) around the Sites 
                                (e.g. no “frames” are allowed); (iii) interfere with or disrupt the operation of the Sites and/or Services, or the servers or networks that 
                                host the Sites or make the Materials, or disobey any laws or regulations or requirements, procedures, policies, or regulations of such 
                                servers or networks; (iv) interfere with or violate users’ right to privacy or other rights, or harvest or collect personally identifiable 
                                information about users without their express consent, including using any robot, spider, crawler, site search or retrieval application, 
                                or other manual or automatic device or process to retrieve index and/or data-mine information; (v) impersonate any person or entity or 
                                provide false personal information or business information, for the purpose of receiving the Materials provided in the Sites or gaining 
                                unlawful access to it; (vi) falsely state or otherwise misrepresent your affiliation with any person or entity, including without limitation, 
                                with the Company, or express or imply that Company endorses or is in any way affiliated with you, your website, your business or any statement 
                                you make, or present false information about the Sites; (vii) transmit or otherwise make available in connection with this Materials any 
                                virus, “worm”, “Trojan horse”, “time bomb”, “web bug”, spyware, or any other computer code, file, or program that is malicious by nature or 
                                defective, and may, or is intended to damage or hijack the operation of any hardware, software, or telecommunications equipment, or any other 
                                actually or potentially harmful, disruptive, or invasive code or component; (viii) create a database by systematically copying and storing 
                                all or any of Company’s Intellectual Property (as shall be defined below); (ix) use any of the Sites and/or Services, and/or any information 
                                contained therein or relating therefrom, for any commercial purposes; and (x) use the Sites and/or Services, and/or any information contained 
                                therein or relating therefrom, for any illegal, immoral or unauthorized purpose.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Your failure to comply with the provisions set forth herein may result in the termination of your access to the Sites, Materials 
                                and/or Services and may expose you to civil and/or criminal liability.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Intellectual Property Rights
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Materials, the Services, the Sites and all the content provided through them, including without limitation, 
                                the graphics, photos, texts, data, personal data and information, business and technical data and information, 
                                medical and scientific information, guides, manuals, specifications, brochures, banners, any proprietary resources, 
                                presentations, sounds, music, videos, interactive features, software (whether in source code or object code), scripts, 
                                designs, interface functionality trademarks, service marks, and logos (collectively, <b>“Intellectual Property“</b>), whether 
                                or not registered and/or protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws, 
                                are solely owned by or licensed to the Company and subject to copyright and other applicable intellectual property rights 
                                under Philippine laws, foreign laws and international conventions. Except as permitted by applicable laws, you are not granted,
                                expressly or by implication, estoppels or otherwise, any license or right to use any of the Intellectual Property without the 
                                prior written permission of the Company.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Specific Notice Regarding Links to Third Party Sites
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Certain links provided herein may permit you to leave the Sites and enter third-party sites. These linked sites are not 
                                under the Company’s control. The Company is not responsible for the contents of any linked site, any changes or updates to 
                                such sites or the availability of such external sites or resources. The Company is providing these links only for convenience. 
                                The inclusion of any link does not imply endorsement by the Company of any linked site. The Company’s publication of information 
                                regarding third-party products or services does not constitute an endorsement regarding the suitability of such products or services 
                                or a warranty, representation or endorsement of such products or services either alone or in combination with any of the Company’s Materials. 
                                Company reserves the right to terminate any link at any time. You further acknowledge and agree that the Company shall not be responsible 
                                or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any 
                                such content, goods or services available on or through any such linked sites.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Commercial Advertisements
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Company may integrate commercials and advertisements as part of the Sites and/or Services. All the information contained in such commercials and advertisements belongs solely to the third-party advertisers and Company makes no warranties or representations as to such advertisements, whether or not Company had control over such advertisements.  
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Disclaimer and Warranties
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Sites and Materials, including without limitation any content, data and information related thereto, is provided on an “as is” or “as available” basis, without any warranties of any kind, expressed or implied, including but not limited to warranties of title or non-infringement or implied warranties of use, merchantability or fitness for a particular purpose including for successful or proper installation. The Company does not warrant that the Materials, Services and information presented on the Sites will be uninterrupted or error-free.  The Company may correct, modify, enhance, improve, and make any other changes to any data, information and content available via the Sites, at any time or to discontinue displaying such Materials, information and content without notice.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Company does not warrant nor guarantee any advice or information otherwise granted through the Sites and assumes no liability, with respect to such information or advice or its accuracy.  You acknowledge and understand that the information and materials presented on the Sites should be used for general information and legitimate purposes only and not for any other purposes. Furthermore, the Company does not assume any responsibility for updating or correcting any such information or advice once it has been given.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Limitation of Liability
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The use of the Sites is solely at your own risk.  We will exert best efforts to include accurate and up to date information on the Site, but we make no warranties or representations as to the accuracy of the information.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                In no instance shall the Company be liable for any damages whatsoever including, but not limited to, indirect, special, incidental or consequential damages of any kind, including: (i) liability associated with any viruses which may infect a user's computer equipment; (ii) death or injury, whether in an action based on contract, negligence or torts resulting from or arising out of the use or inability to use the Sites, regardless of whether the Company or an unauthorized representative of the Company has been advised of the possibility of such damages, except where liability is mandatory in which event liability for damages shall be limited to the sums actually received by the Company from you in connection with the Site.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                User’s Representations and Warranties
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                As a condition for your use of the Sites, you hereby represent and warrant that: (i) you possess the legal capacity and authority to enter into these Terms and to form a binding agreement under any applicable law, to use the Sites in accordance with these Terms, and to fully perform your obligations hereunder; (ii) the execution of these Terms do not and will not violate any other agreement to which you are bound or any law, rule, regulation, order or judgement to which you are subject; (iii) you will safeguard your account information and will supervise and be completely responsible for any use of your account by anyone other than you; (iv) you will provide true and accurate information and will not impersonate or provide a false identity; (v) you will not infringe any right of any other user or third-party, including intellectual property rights, privacy rights and publicity rights; and (vii) you will not harm any user and will not use the Sites and Materials presented therein for any illegal, Immoral or unauthorized purposes.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Indemnification
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                You agree to defend, indemnify and hold harmless Company, its officers, directors, employees and agents, from and against any and all claims, disputes, actions, damages, obligations, losses, liabilities, costs, debts, and expenses (including but not limited to attorney’s fees) arising from: (i) your use of  the Sites including for successful or proper installation; (ii) your violation of any term of these Terms; (iii) your violation of any third party right, including without limitation any intellectual property right, property right, privacy right or publicity right; and (iv) damage of any sort, whether direct, indirect, special or consequential, you may cause to any third party with relation to the Sites or the Material. This defence and indemnification obligation will survive these Terms.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Special provisions relating to Third Party Components
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                The Sites and/or Service may use or include third-party software, files and components that are subject to open source and third-party license terms (“Third Party Components“). Your use of such Third Party Components as part of, or in connection with the Sites and/or Service is subject to any applicable acknowledgements and license terms accompanying such Third Party Components, contained therein or related thereto. If there is a conflict between the licensing terms of such Third Party Components and these Terms, the licensing terms of the Third Party Components shall prevail in connection with the related Third Party Components. These Terms do not apply to any Third Party Components accompanying or contained in the Sites and/or Service and We disclaim all liability related thereto. You acknowledge that We are not the author, owner or licensor of any Third Party Components and that We make no warranties or representations, express or implied, as to the quality, capabilities, operations, performance or suitability of Third Party Components. Under no circumstances shall the Sites and/or Service or any portion thereof (except for the Third Party Components contained therein) be deemed to be “open source“ or “publicly available“ software.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Termination
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                You agree that Company, in its sole discretion, may terminate your use of the Sites or any part thereof, at any time and for any reason, including, without limitation, if the Company: (i) believes that you have violated or acted inconsistently with the letter or spirit of these terms and conditions; 
                                <span style="color: red;">or (ii) has received at least three (3) complaints against you from other users or persons.</span> 
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                You agree that any termination of your access to the Sites under any provision of these terms and conditions may be effected without prior notice. The Company shall not be liable to you or any third party for any termination of your access to the Sites or any part thereof.
                            </p>
                        </div>
                        <div class="mb-36">
                            <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-50 orbitron">
                                Miscellaneous
                            </h3>
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                These Terms do not, and shall not be construed to create any partnership, joint venture, employer-employee, agency, or franchisor-franchisee relationship between you and the Company.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                Any claim relating to the Sites and/or Services or their use will be governed by and interpreted in accordance with the laws of the <span style="color: red;">Philippines</span> without reference to its conflict-of-laws principles. Any dispute arising out of or related to your use of the Service will be brought in, and you hereby consent to exclusive jurisdiction and venue in, the competent courts of <span style="color: red;">Quezon City, Philippines</span>. Except that you agree that the Company shall have the right to bring suit against you, in any venue and/or jurisdiction outside of the Philippines, in which you have assets, domicile or a place of business.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                You agree to waive all defences of lack of personal jurisdiction and forum non-convenience and agree that process may be served in a manner authorized by applicable law or court rule.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                If any provision of this Terms is found to be unlawful, void, or for any reason unenforceable, then that provision will be deemed severable from this Terms and will not affect the validity and enforceability of any remaining provisions.
                            </p>
                            <br />
                            <p class="md:text-xl md:leading-loose text-gray-700 dark:text-gray-300 orbitron" style="text-align: justify; text-justify: inter-word;">
                                No waiver by either party of any breach or default hereunder will be deemed to be a waiver of any preceding or subsequent breach or default. Any heading, caption or section title contained herein is inserted only as a matter of convenience, and in no way defines or explains any section or provision hereof.
                            </p>
                        </div>
                    </div>
                </div>

                
            </div>
        </main>
        
        <%- include('../includes/footer/index.ejs') %>
    </div>
    <%- include('../includes/scripts/index.ejs') %>

    <script >
        // ----------------------------------------------------
        // for profile_dropdown [START]
        // ----------------------------------------------------
        let sessionUuid =  `<%= data.uuid %>`;
        let sessionType =  `<%= data.type %>`;
        let sessionFirstName =  `<%= data.first_name %>`;
        let sessionLastName =  `<%= data.last_name %>`;
        let sessionEmail = `<%= data.email %>`;

        sessionFirstName ? document.getElementById('user-name').innerHTML = sessionFirstName + ' ' + sessionLastName : '';
        if (sessionType == 1) {
            $('#upgrade-account').prop('disabled', true);
            document.getElementById('upgrade-account').style.display = 'none';
            document.getElementById('user-type').innerHTML = 'Trader';
        }
        if (sessionType == 2) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Large Scale';
        }
        if (sessionType == 3) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Medium Scale';
        }
        if (sessionType == 4) {
            document.getElementById('user-type').innerHTML = 'Small Scale';
        }

        if (sessionUuid) {
          document.getElementById('right_side_with_session').style.display = 'block';
          document.getElementById('right_side_with_no_session').style.display = 'none';
        } else {
          document.getElementById('right_side_with_session').style.display = 'none';
          document.getElementById('right_side_with_no_session').style.display = 'block';
        }

        // ----------------------------------------------------
        // for profile_dropdown [END]
        // ----------------------------------------------------
    </script>
</body>

</html>